@import "variables";

@each $breakpoint in map-keys($grid-breakpoints) {
  @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
    $infix: if($breakpoint== "xs", "", "-#{$breakpoint}");

    .d#{$infix}-none {
      display: none !important;
    }

    .d#{$infix}-inline {
      display: inline !important;
    }

    .d#{$infix}-inline-block {
      display: inline-block !important;
    }

    .d#{$infix}-block {
      display: block !important;
    }

    .d#{$infix}-table {
      display: table !important;
    }

    .d#{$infix}-table-row {
      display: table-row !important;
    }

    .d#{$infix}-table-cell {
      display: table-cell !important;
    }

    .d#{$infix}-flex {
      display: flex !important;
      justify-content: inherit;
      align-items: inherit;
    }

    .d#{$infix}-inline-flex {
      display: inline-flex !important;
    }

    .d#{$infix}-grid {
      display: grid !important;
    }

    .visibility#{$infix}-hidden {
      visibility: hidden;
    }

    .visibility#{$infix}-visible {
      visibility: visible;
    }
  }
}
