@import "variables";

:root {
  --scale-0: 0px;
  --scale-0-5: 2px;
  --scale-1: 4px;
  --scale-2: 8px;
  --scale-3: 12px;
  --scale-3-5: 14px;
  --scale-4: 16px;
  --scale-5: 20px;
  --scale-6: 24px;
  --scale-7: 28px;
  --scale-8: 32px;
  --scale-9: 48px;
  --scale-10: 64px;
  --scale-11: 80px;
  --scale-12: 96px;
  --scale-13: 112px;
  --scale-14: 128px;
  --scale-15: 256px;
  --scale-16: 512px;

  @media (min-width: $bp-md) {
    --scale-0: 0px;
    --scale-0-5: 2px;
    --scale-1: 4px;
    --scale-2: 8px;
    --scale-3: 12px;
    --scale-3-5: 16px;
    --scale-4: 20px;
    --scale-5: 24px;
    --scale-6: 28px;
    --scale-7: 32px;
    --scale-8: 48px;
    --scale-9: 64px;
    --scale-10: 80px;
    --scale-11: 96px;
    --scale-12: 112px;
    --scale-13: 128px;
    --scale-14: 256px;
    --scale-15: 512px;
    --scale-16: 768px;
  }
}
