@media (min-width: 0) {
  .gap-0 {
    gap: var(--scale-0) !important;
  }
  .gap-1 {
    gap: var(--scale-1) !important;
  }
  .gap-2 {
    gap: var(--scale-2) !important;
  }
  .gap-3 {
    gap: var(--scale-3) !important;
  }
  .gap-4 {
    gap: var(--scale-4) !important;
  }
  .gap-5 {
    gap: var(--scale-5) !important;
  }
  .gap-6 {
    gap: var(--scale-6) !important;
  }
  .gap-7 {
    gap: var(--scale-7) !important;
  }
  .gap-8 {
    gap: var(--scale-8) !important;
  }
  .gap-9 {
    gap: var(--scale-9) !important;
  }
  .gap-10 {
    gap: var(--scale-10) !important;
  }
  .gap-11 {
    gap: var(--scale-11) !important;
  }
  .gap-12 {
    gap: var(--scale-12) !important;
  }
  .gap-13 {
    gap: var(--scale-13) !important;
  }
  .gap-14 {
    gap: var(--scale-14) !important;
  }
  .gap-15 {
    gap: var(--scale-15) !important;
  }
  .gap-16 {
    gap: var(--scale-16) !important;
  }

  .column-gap-0 {
    column-gap: var(--scale-0) !important;
  }
  .column-gap-1 {
    column-gap: var(--scale-1) !important;
  }
  .column-gap-2 {
    column-gap: var(--scale-2) !important;
  }
  .column-gap-3 {
    column-gap: var(--scale-3) !important;
  }
  .column-gap-4 {
    column-gap: var(--scale-4) !important;
  }
  .column-gap-5 {
    column-gap: var(--scale-5) !important;
  }
  .column-gap-6 {
    column-gap: var(--scale-6) !important;
  }
  .column-gap-7 {
    column-gap: var(--scale-7) !important;
  }
  .column-gap-8 {
    column-gap: var(--scale-8) !important;
  }
  .column-gap-9 {
    column-gap: var(--scale-9) !important;
  }
  .column-gap-10 {
    column-gap: var(--scale-10) !important;
  }
  .column-gap-11 {
    column-gap: var(--scale-11) !important;
  }
  .column-gap-12 {
    column-gap: var(--scale-12) !important;
  }
  .column-gap-13 {
    column-gap: var(--scale-13) !important;
  }
  .column-gap-14 {
    column-gap: var(--scale-14) !important;
  }
  .column-gap-15 {
    column-gap: var(--scale-15) !important;
  }
  .column-gap-16 {
    column-gap: var(--scale-16) !important;
  }
}
@media (min-width: 576px) {
  .gap-sm-0 {
    gap: var(--scale-0) !important;
  }
  .gap-sm-1 {
    gap: var(--scale-1) !important;
  }
  .gap-sm-2 {
    gap: var(--scale-2) !important;
  }
  .gap-sm-3 {
    gap: var(--scale-3) !important;
  }
  .gap-sm-4 {
    gap: var(--scale-4) !important;
  }
  .gap-sm-5 {
    gap: var(--scale-5) !important;
  }
  .gap-sm-6 {
    gap: var(--scale-6) !important;
  }
  .gap-sm-7 {
    gap: var(--scale-7) !important;
  }
  .gap-sm-8 {
    gap: var(--scale-8) !important;
  }
  .gap-sm-9 {
    gap: var(--scale-9) !important;
  }
  .gap-sm-10 {
    gap: var(--scale-10) !important;
  }
  .gap-sm-11 {
    gap: var(--scale-11) !important;
  }
  .gap-sm-12 {
    gap: var(--scale-12) !important;
  }
  .gap-sm-13 {
    gap: var(--scale-13) !important;
  }
  .gap-sm-14 {
    gap: var(--scale-14) !important;
  }
  .gap-sm-15 {
    gap: var(--scale-15) !important;
  }
  .gap-sm-16 {
    gap: var(--scale-16) !important;
  }

  .column-gap-sm-0 {
    column-gap: var(--scale-0) !important;
  }
  .column-gap-sm-1 {
    column-gap: var(--scale-1) !important;
  }
  .column-gap-sm-2 {
    column-gap: var(--scale-2) !important;
  }
  .column-gap-sm-3 {
    column-gap: var(--scale-3) !important;
  }
  .column-gap-sm-4 {
    column-gap: var(--scale-4) !important;
  }
  .column-gap-sm-5 {
    column-gap: var(--scale-5) !important;
  }
  .column-gap-sm-6 {
    column-gap: var(--scale-6) !important;
  }
  .column-gap-sm-7 {
    column-gap: var(--scale-7) !important;
  }
  .column-gap-sm-8 {
    column-gap: var(--scale-8) !important;
  }
  .column-gap-sm-9 {
    column-gap: var(--scale-9) !important;
  }
  .column-gap-sm-10 {
    column-gap: var(--scale-10) !important;
  }
  .column-gap-sm-11 {
    column-gap: var(--scale-11) !important;
  }
  .column-gap-sm-12 {
    column-gap: var(--scale-12) !important;
  }
  .column-gap-sm-13 {
    column-gap: var(--scale-13) !important;
  }
  .column-gap-sm-14 {
    column-gap: var(--scale-14) !important;
  }
  .column-gap-sm-15 {
    column-gap: var(--scale-15) !important;
  }
  .column-gap-sm-16 {
    column-gap: var(--scale-16) !important;
  }
}
@media (min-width: 768px) {
  .gap-md-0 {
    gap: var(--scale-0) !important;
  }
  .gap-md-1 {
    gap: var(--scale-1) !important;
  }
  .gap-md-2 {
    gap: var(--scale-2) !important;
  }
  .gap-md-3 {
    gap: var(--scale-3) !important;
  }
  .gap-md-4 {
    gap: var(--scale-4) !important;
  }
  .gap-md-5 {
    gap: var(--scale-5) !important;
  }
  .gap-md-6 {
    gap: var(--scale-6) !important;
  }
  .gap-md-7 {
    gap: var(--scale-7) !important;
  }
  .gap-md-8 {
    gap: var(--scale-8) !important;
  }
  .gap-md-9 {
    gap: var(--scale-9) !important;
  }
  .gap-md-10 {
    gap: var(--scale-10) !important;
  }
  .gap-md-11 {
    gap: var(--scale-11) !important;
  }
  .gap-md-12 {
    gap: var(--scale-12) !important;
  }
  .gap-md-13 {
    gap: var(--scale-13) !important;
  }
  .gap-md-14 {
    gap: var(--scale-14) !important;
  }
  .gap-md-15 {
    gap: var(--scale-15) !important;
  }
  .gap-md-16 {
    gap: var(--scale-16) !important;
  }

  .column-gap-md-0 {
    column-gap: var(--scale-0) !important;
  }
  .column-gap-md-1 {
    column-gap: var(--scale-1) !important;
  }
  .column-gap-md-2 {
    column-gap: var(--scale-2) !important;
  }
  .column-gap-md-3 {
    column-gap: var(--scale-3) !important;
  }
  .column-gap-md-4 {
    column-gap: var(--scale-4) !important;
  }
  .column-gap-md-5 {
    column-gap: var(--scale-5) !important;
  }
  .column-gap-md-6 {
    column-gap: var(--scale-6) !important;
  }
  .column-gap-md-7 {
    column-gap: var(--scale-7) !important;
  }
  .column-gap-md-8 {
    column-gap: var(--scale-8) !important;
  }
  .column-gap-md-9 {
    column-gap: var(--scale-9) !important;
  }
  .column-gap-md-10 {
    column-gap: var(--scale-10) !important;
  }
  .column-gap-md-11 {
    column-gap: var(--scale-11) !important;
  }
  .column-gap-md-12 {
    column-gap: var(--scale-12) !important;
  }
  .column-gap-md-13 {
    column-gap: var(--scale-13) !important;
  }
  .column-gap-md-14 {
    column-gap: var(--scale-14) !important;
  }
  .column-gap-md-15 {
    column-gap: var(--scale-15) !important;
  }
  .column-gap-md-16 {
    column-gap: var(--scale-16) !important;
  }
}
@media (min-width: 960px) {
  .gap-lg-0 {
    gap: var(--scale-0) !important;
  }
  .gap-lg-1 {
    gap: var(--scale-1) !important;
  }
  .gap-lg-2 {
    gap: var(--scale-2) !important;
  }
  .gap-lg-3 {
    gap: var(--scale-3) !important;
  }
  .gap-lg-4 {
    gap: var(--scale-4) !important;
  }
  .gap-lg-5 {
    gap: var(--scale-5) !important;
  }
  .gap-lg-6 {
    gap: var(--scale-6) !important;
  }
  .gap-lg-7 {
    gap: var(--scale-7) !important;
  }
  .gap-lg-8 {
    gap: var(--scale-8) !important;
  }
  .gap-lg-9 {
    gap: var(--scale-9) !important;
  }
  .gap-lg-10 {
    gap: var(--scale-10) !important;
  }
  .gap-lg-11 {
    gap: var(--scale-11) !important;
  }
  .gap-lg-12 {
    gap: var(--scale-12) !important;
  }
  .gap-lg-13 {
    gap: var(--scale-13) !important;
  }
  .gap-lg-14 {
    gap: var(--scale-14) !important;
  }
  .gap-lg-15 {
    gap: var(--scale-15) !important;
  }
  .gap-lg-16 {
    gap: var(--scale-16) !important;
  }

  .column-gap-lg-0 {
    column-gap: var(--scale-0) !important;
  }
  .column-gap-lg-1 {
    column-gap: var(--scale-1) !important;
  }
  .column-gap-lg-2 {
    column-gap: var(--scale-2) !important;
  }
  .column-gap-lg-3 {
    column-gap: var(--scale-3) !important;
  }
  .column-gap-lg-4 {
    column-gap: var(--scale-4) !important;
  }
  .column-gap-lg-5 {
    column-gap: var(--scale-5) !important;
  }
  .column-gap-lg-6 {
    column-gap: var(--scale-6) !important;
  }
  .column-gap-lg-7 {
    column-gap: var(--scale-7) !important;
  }
  .column-gap-lg-8 {
    column-gap: var(--scale-8) !important;
  }
  .column-gap-lg-9 {
    column-gap: var(--scale-9) !important;
  }
  .column-gap-lg-10 {
    column-gap: var(--scale-10) !important;
  }
  .column-gap-lg-11 {
    column-gap: var(--scale-11) !important;
  }
  .column-gap-lg-12 {
    column-gap: var(--scale-12) !important;
  }
  .column-gap-lg-13 {
    column-gap: var(--scale-13) !important;
  }
  .column-gap-lg-14 {
    column-gap: var(--scale-14) !important;
  }
  .column-gap-lg-15 {
    column-gap: var(--scale-15) !important;
  }
  .column-gap-lg-16 {
    column-gap: var(--scale-16) !important;
  }
}
@media (min-width: 1200px) {
  .gap-xl-0 {
    gap: var(--scale-0) !important;
  }
  .gap-xl-1 {
    gap: var(--scale-1) !important;
  }
  .gap-xl-2 {
    gap: var(--scale-2) !important;
  }
  .gap-xl-3 {
    gap: var(--scale-3) !important;
  }
  .gap-xl-4 {
    gap: var(--scale-4) !important;
  }
  .gap-xl-5 {
    gap: var(--scale-5) !important;
  }
  .gap-xl-6 {
    gap: var(--scale-6) !important;
  }
  .gap-xl-7 {
    gap: var(--scale-7) !important;
  }
  .gap-xl-8 {
    gap: var(--scale-8) !important;
  }
  .gap-xl-9 {
    gap: var(--scale-9) !important;
  }
  .gap-xl-10 {
    gap: var(--scale-10) !important;
  }
  .gap-xl-11 {
    gap: var(--scale-11) !important;
  }
  .gap-xl-12 {
    gap: var(--scale-12) !important;
  }
  .gap-xl-13 {
    gap: var(--scale-13) !important;
  }
  .gap-xl-14 {
    gap: var(--scale-14) !important;
  }
  .gap-xl-15 {
    gap: var(--scale-15) !important;
  }
  .gap-xl-16 {
    gap: var(--scale-16) !important;
  }

  .column-gap-xl-0 {
    column-gap: var(--scale-0) !important;
  }
  .column-gap-xl-1 {
    column-gap: var(--scale-1) !important;
  }
  .column-gap-xl-2 {
    column-gap: var(--scale-2) !important;
  }
  .column-gap-xl-3 {
    column-gap: var(--scale-3) !important;
  }
  .column-gap-xl-4 {
    column-gap: var(--scale-4) !important;
  }
  .column-gap-xl-5 {
    column-gap: var(--scale-5) !important;
  }
  .column-gap-xl-6 {
    column-gap: var(--scale-6) !important;
  }
  .column-gap-xl-7 {
    column-gap: var(--scale-7) !important;
  }
  .column-gap-xl-8 {
    column-gap: var(--scale-8) !important;
  }
  .column-gap-xl-9 {
    column-gap: var(--scale-9) !important;
  }
  .column-gap-xl-10 {
    column-gap: var(--scale-10) !important;
  }
  .column-gap-xl-11 {
    column-gap: var(--scale-11) !important;
  }
  .column-gap-xl-12 {
    column-gap: var(--scale-12) !important;
  }
  .column-gap-xl-13 {
    column-gap: var(--scale-13) !important;
  }
  .column-gap-xl-14 {
    column-gap: var(--scale-14) !important;
  }
  .column-gap-xl-15 {
    column-gap: var(--scale-15) !important;
  }
  .column-gap-xl-16 {
    column-gap: var(--scale-16) !important;
  }
}
@media (min-width: 1440px) {
  .gap-2xl-0 {
    gap: var(--scale-0) !important;
  }
  .gap-2xl-1 {
    gap: var(--scale-1) !important;
  }
  .gap-2xl-2 {
    gap: var(--scale-2) !important;
  }
  .gap-2xl-3 {
    gap: var(--scale-3) !important;
  }
  .gap-2xl-4 {
    gap: var(--scale-4) !important;
  }
  .gap-2xl-5 {
    gap: var(--scale-5) !important;
  }
  .gap-2xl-6 {
    gap: var(--scale-6) !important;
  }
  .gap-2xl-7 {
    gap: var(--scale-7) !important;
  }
  .gap-2xl-8 {
    gap: var(--scale-8) !important;
  }
  .gap-2xl-9 {
    gap: var(--scale-9) !important;
  }
  .gap-2xl-10 {
    gap: var(--scale-10) !important;
  }
  .gap-2xl-11 {
    gap: var(--scale-11) !important;
  }
  .gap-2xl-12 {
    gap: var(--scale-12) !important;
  }
  .gap-2xl-13 {
    gap: var(--scale-13) !important;
  }
  .gap-2xl-14 {
    gap: var(--scale-14) !important;
  }
  .gap-2xl-15 {
    gap: var(--scale-15) !important;
  }
  .gap-2xl-16 {
    gap: var(--scale-16) !important;
  }

  .column-gap-2xl-0 {
    column-gap: var(--scale-0) !important;
  }
  .column-gap-2xl-1 {
    column-gap: var(--scale-1) !important;
  }
  .column-gap-2xl-2 {
    column-gap: var(--scale-2) !important;
  }
  .column-gap-2xl-3 {
    column-gap: var(--scale-3) !important;
  }
  .column-gap-2xl-4 {
    column-gap: var(--scale-4) !important;
  }
  .column-gap-2xl-5 {
    column-gap: var(--scale-5) !important;
  }
  .column-gap-2xl-6 {
    column-gap: var(--scale-6) !important;
  }
  .column-gap-2xl-7 {
    column-gap: var(--scale-7) !important;
  }
  .column-gap-2xl-8 {
    column-gap: var(--scale-8) !important;
  }
  .column-gap-2xl-9 {
    column-gap: var(--scale-9) !important;
  }
  .column-gap-2xl-10 {
    column-gap: var(--scale-10) !important;
  }
  .column-gap-2xl-11 {
    column-gap: var(--scale-11) !important;
  }
  .column-gap-2xl-12 {
    column-gap: var(--scale-12) !important;
  }
  .column-gap-2xl-13 {
    column-gap: var(--scale-13) !important;
  }
  .column-gap-2xl-14 {
    column-gap: var(--scale-14) !important;
  }
  .column-gap-2xl-15 {
    column-gap: var(--scale-15) !important;
  }
  .column-gap-2xl-16 {
    column-gap: var(--scale-16) !important;
  }
}

/*# sourceMappingURL=gap.css.map */
