@media (min-width: 0) {
  .grid-column-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-column-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-column-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-column-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-column-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-column-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-column-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .grid-column-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-column-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .grid-column-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .grid-column-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .grid-column-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (min-width: 576px) {
  .grid-sm-column-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-sm-column-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-sm-column-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-sm-column-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-sm-column-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-sm-column-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-sm-column-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .grid-sm-column-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-sm-column-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .grid-sm-column-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .grid-sm-column-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .grid-sm-column-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (min-width: 768px) {
  .grid-md-column-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-md-column-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-md-column-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-md-column-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-md-column-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-md-column-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-md-column-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .grid-md-column-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-md-column-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .grid-md-column-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .grid-md-column-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .grid-md-column-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (min-width: 960px) {
  .grid-lg-column-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-lg-column-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-lg-column-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-lg-column-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-lg-column-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-lg-column-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-lg-column-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .grid-lg-column-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-lg-column-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .grid-lg-column-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .grid-lg-column-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .grid-lg-column-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (min-width: 1200px) {
  .grid-xl-column-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-xl-column-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-xl-column-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-xl-column-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-xl-column-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-xl-column-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-xl-column-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .grid-xl-column-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-xl-column-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .grid-xl-column-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .grid-xl-column-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .grid-xl-column-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (min-width: 1440px) {
  .grid-2xl-column-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-2xl-column-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-2xl-column-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-2xl-column-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-2xl-column-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-2xl-column-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-2xl-column-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .grid-2xl-column-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-2xl-column-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .grid-2xl-column-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .grid-2xl-column-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .grid-2xl-column-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}

/*# sourceMappingURL=grid.css.map */
