input,
textarea,
select,
.editable {
  background: hsl(var(--background));
  color: hsl(var(--primary));
  padding: var(--scale-2) var(--scale-3);
  font-size: var(--scale-3-5);
  line-height: var(--scale-4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  border: 1px solid hsl(var(--input));
  border-radius: var(--scale-1);
  box-shadow: var(--shadow-input);
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
.editable:-webkit-autofill,
.editable:-webkit-autofill:hover,
.editable:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px hsl(var(--background)) inset;
  -webkit-text-fill-color: hsl(var(--primary));
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill:focus, input:-webkit-autofill:hover:focus, input:-webkit-autofill:focus:focus,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:hover:focus,
textarea:-webkit-autofill:focus:focus,
select:-webkit-autofill:focus,
select:-webkit-autofill:hover:focus,
select:-webkit-autofill:focus:focus,
.editable:-webkit-autofill:focus,
.editable:-webkit-autofill:hover:focus,
.editable:-webkit-autofill:focus:focus {
  border: 1px solid hsl(var(--input));
  border-color: hsl(var(--primary));
}
input:-webkit-autofill::selection, input:-webkit-autofill:hover::selection, input:-webkit-autofill:focus::selection,
textarea:-webkit-autofill::selection,
textarea:-webkit-autofill:hover::selection,
textarea:-webkit-autofill:focus::selection,
select:-webkit-autofill::selection,
select:-webkit-autofill:hover::selection,
select:-webkit-autofill:focus::selection,
.editable:-webkit-autofill::selection,
.editable:-webkit-autofill:hover::selection,
.editable:-webkit-autofill:focus::selection {
  background-color: hsl(var(--foreground)) !important;
  color: hsl(var(--background)) !important;
}
input::placeholder,
textarea::placeholder,
select::placeholder,
.editable::placeholder {
  color: hsl(var(--muted-foreground));
}
input:focus,
textarea:focus,
select:focus,
.editable:focus {
  border: 1px solid hsl(var(--input));
  border-color: hsl(var(--primary));
  outline: none;
}

input[readonly] {
  background: hsl(var(--background-darker));
  cursor: not-allowed;
}

textarea {
  resize: none;
  overflow: auto;
}

.checkbox {
  border: 1px solid hsl(var(--primary));
  border-radius: var(--scale-1);
  box-shadow: var(--shadow-input);
  width: 1.2rem;
  height: 1.2rem;
}
.checkbox span {
  display: none !important;
}
.checkbox--checked {
  background: hsl(var(--primary));
}
.checkbox--checked span {
  display: flex !important;
  color: hsl(var(--background));
}

.input-xs {
  border-radius: var(--scale-0-5);
  font-size: calc(var(--scale-3) + var(--scale-0-5) - 1px);
  line-height: calc(var(--scale-3-5) + var(--scale-1));
  padding: calc(var(--scale-1) - 1px) var(--scale-1);
}

/*# sourceMappingURL=input.css.map */
